# Maven
target/

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Uploads or temp files
uploads/

# Node frontend (if any)
node_modules/
dist/
build/

# Environment variables
.env
